/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require DataTables
 *= require jquery-ui-bootstrap
 *= require_tree .
 *= require_self
 */


.navbar-brand {
  float: left;
  padding: 1px 1px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}


// Margem direita maior para labels do SimpleForm
.control-label {
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: middle;
}

// Classes default do Datatable
.dataTables_length {
    float: left;
    padding: 5px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    padding: 5px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding: 0.25em;
}

.dataTables_paginate {
    float: right;
    text-align: right;
    padding: 0.25em;
}

table.dataTable thead .sorting_asc {
 	background-image: url("");
 }
 
table.dataTable thead .sorting_desc {
 	background-image: url("");
 }
 
